@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

.App {
  text-align: center;
}

.tabs {
  text-align: right;
  background-color: #5a5a5a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.button-submit {
  text-align: center;
}

.h2-submit {
  font-family: "IBM Plex Sans";
  text-align: center;
}

.form {
  display: flex;
  padding-bottom: 30px;
  padding-top: 10px;
  justify-content: center;
}

.text-field-form {
  margin-left: 5px;
  margin-right: 5px;
}
